{% extends "base.html" %}
{% block title %} Juegos MSX {% endblock %}
{% block header %}Pon una cadena y ¡a buscar!
<p></p><a href="/juegos"><img src="{{url_for('static', filename='images/msxlogo.png')}}"/></a></p>
{% endblock %}

{% block content %}

    <h2>BUSCADOR</h2>
    <p>
    <form action="#" method="post">
        <label for="message">Búsqueda</label>
        <input type="text" value="{{cadena}}"/>
        <input type="submit" value="Buscar" />
    </form>      
    </p>

{% endblock %}