{% extends "base.html" %}
{% block title %} Juegos MSX {% endblock %}
{% block header %}
<p></p><a href="/juegos"><img src="{{url_for('static', filename='images/msxlogo.png')}}"/></a></p>
{% endblock %}

{% block content %}

    <h2>BUSCADOR</h2>
    <p>Pon el nombre de un juego o parte de su nombre. Si no ingresas nada, verás la lista completa de juegos.</p>
    <p>
    <form action="/juegos" method="post">
        <label for="message">Búsqueda</label>
        <input type="text" name="nombre_control" value="{{cadena}}"/>
        <input type="submit" value="Buscar" />
        <p>
            <select name="categoria">
                {% for i in documento -%}
                    <option>{{i.categoria}}</option>
                {% endfor -%}    
            </select>    
        </p>
    </form>      
    </p>
    {% if post %}
        <h2>Lista de juegos</h2>
        <p>
            <table>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Desarrollador</th>
                        <th>Detalle</th>
                    </tr>
                </thead>
                <tbody>
                    {% if conf %}
                        {% for i in listado -%}
                            <tr>
                                <td>{{loop.index}} - {{i.nombre}}</td>
                                <td>{{i.desarrollador}}</td>
                                <td><a href='/juegos/{{i.id}}'>Enlace</td>
                            </tr>
                        {% endfor -%}
                    {% else %}
                        {% for i in documento -%}
                            <tr>
                                <td>{{loop.index}} - {{i.nombre}}</td>
                                <td>{{i.desarrollador}}</td>
                                <td><a href='/juegos/{{i.id}}'>Enlace</td>
                            </tr>
                        {% endfor -%}
                    {% endif %}           
                </tbody>    
            </table>
    {% endif %}        
    </p>

{% endblock %}