{% extends "base.html" %}
{% block title %} Biblioteca MSX {% endblock %}
{% block header %}Listado
<p></p><a href="/juegos"><img src="{{url_for('static', filename='images/msxlogo.png')}}"/></a></p>
{% endblock %}

{% block content %}

    <h2>Lista de juegos</h2>
    <p>
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Desarrollador</th>
                    <th>Detalle</th>
                </tr>
            </thead>
            <tbody>
                {% if conf %}
                    <tr>
                        <td>{{nombre}}</td>
                        <td>{{desarrollador}}</td>
                        <td><a href='/juegos/{{identificador}}'>Enlace</td>
                    </tr>
                {% endif %}
                {% if not conf %}
                    {% for i in documento -%}
                        <tr>
                            <td>{{loop.index}} - {{i.nombre}}</td>
                            <td>{{i.desarrollador}}</td>
                            <td><a href='/juegos/{{i.id}}'>Enlace</td>
                        </tr>
                    {% endfor -%}
                {% endif %}        
            </tbody>    
        </table>
    </p>

{% endblock %}